@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    
}


header > div > h1{
    margin: 0px;
    line-height: 50px;
}

main{
    height: 100vh;
    width: 99vw;
    background-color: #474747;
}

#div-block{
    display: flex;
    justify-content: center;
    padding: 5px;
}

#div-block > img{
    width: 150px;
}

#container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    border: 3px solid #dda534;
    
}

#filho-main{
    padding: 5px;
    height: 85vh;
    width: 90dvw;
    max-width: 450px;
    background-color: #5e5e5e;
}